@charset "UTF-8";
/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Italic.woff2") format("woff2"), url("../fonts/Barlow-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e900";
}

._icon-check:before {
  content: "\e901";
}

._icon-delet:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-logo:before {
  content: "\e904";
}

._icon-plus:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-youtube:before {
  content: "\e907";
}

._icon-telegram:before {
  content: "\e908";
}

._icon-arrow:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  background-color: #ffffff;
  border-radius: 39px;
  padding: 55px 58px 46px 60px;
  margin-bottom: 70px;
}
.form__wrapper {
  display: flex;
}
.form__subtitle {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 15px;
}
.form__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8f8f8f;
  max-width: 465px;
}
.form__support {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 455px;
  height: 62px;
  background-color: #f4f4f4;
  border-radius: 7px;
  padding: 20px;
}
.input:focus-visible, .input:focus, .input:active {
  border: none;
  outline-color: transparent;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

body {
  margin: 0;
  background-color: #fff;
  color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  font-weight: 500;
  font-size: 47.7728px;
  line-height: 58px;
  color: #fff;
}
.title--gray {
  color: #515151;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffeed8;
}
.subtitle--bold {
  font-weight: 900;
}
.subtitle--big {
  font-size: 43px;
  line-height: 52px;
}
.subtitle--gradient {
  background: linear-gradient(90deg, #fbd72b 0%, #ed6210 100%), linear-gradient(90.22deg, #f6c754 -0.85%, #e2a052 44.81%, #d17231 95.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.text--barlow {
  font-family: "Barlow";
}
.text--gray {
  color: #8f8f8f;
}
.text--bold {
  font-weight: 500;
}
.text--light {
  color: #ffeed8;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}

.button-primary {
  border: 1px solid #aeaeae;
  color: #494949;
}
.button-primary:hover {
  background-color: white;
  text-decoration: underline;
}

.button-secondary {
  background-color: #0d0d0d;
  border: 1px solid #0d0d0d;
  color: #ffffff;
}
.button-secondary:hover {
  border: 1px solid #aeaeae;
  background-color: #333333;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 9px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn-primary {
  background: linear-gradient(90deg, #ed6210 0%, #fbd72b 100%), linear-gradient(90.22deg, #f6c754 -0.85%, #e2a052 44.81%, #d17231 95.72%), #d9d9d9;
  color: #ffffff;
}
.btn-primary:hover {
  background: #fcdd49;
}

.btn-secondary {
  filter: drop-shadow(0px 4px 11px rgba(159, 97, 4, 0.25));
  background: linear-gradient(90deg, #ff5f00 0%, #ffd300 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-secondary:hover {
  background: #fcdd49;
  color: #fff;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.main {
  position: relative;
  padding: 115px 0;
}
.main__wrapper {
  display: flex;
  justify-content: flex-end;
}
.main__box-img {
  position: absolute;
  top: -45%;
  left: 0;
}
.main__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-right: 20px;
}
.main__content {
  display: flex;
  flex-direction: column;
}
.main__title {
  text-align: center;
}
.main__subtitle {
  text-align: center;
  margin-bottom: 20px;
}
.main__text {
  text-align: center;
}
.main__btn {
  width: 186px;
}

.about {
  padding: 110px 0 100px;
}
.about__wrapper {
  display: flex;
  margin-inline: 42px;
}
.about__wrapper--bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/about/about-img.png);
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 60px;
  padding-left: 74px;
  padding-bottom: 48px;
  max-width: 560px;
}
.done {
  position: relative;
  padding-bottom: 86px;
}
.done__wrapper {
  display: flex;
  flex-direction: column;
}
.done__title {
  padding-left: 60px;
  margin-bottom: 40px;
}
.done__box-img {
  position: absolute;
  top: -1%;
  left: 5%;
}
.done__content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.done__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 54px;
  margin-bottom: 26px;
}
.done__text {
  display: inline-block;
  padding: 5px 11px;
  border: 1px solid #8f8f8f;
  border-radius: 15px;
}
.done__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
  letter-spacing: 0.065em;
  text-decoration: underline !important;
  background: linear-gradient(90deg, #fbc046 0%, #faba4c 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 246px;
  cursor: pointer;
  position: relative;
}
.done__link:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #fbc046 0%, #faba4c 100%), #ffffff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.cases {
  padding: 95px 0 120px;
  background: linear-gradient(113.47deg, #fbce53 22.09%, #f79f3d 96.48%), #d9d9d9;
}
.cases__wrapper {
  display: flex;
  flex-direction: column;
}
.cases__title {
  margin-left: 60px;
  margin-bottom: 30px;
}

.donate {
  position: relative;
  padding-bottom: 80px;
}
.donate__wrapper {
  display: flex;
  flex-direction: column;
}
.donate__box-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.donate__content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 42%;
  padding-top: 102px;
  margin-right: 70px;
}
.donate__title {
  margin-bottom: 20px;
}
.donate__text {
  border: 1px solid #8f8f8f;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 12px;
}
.donate__text--italic {
  font-style: italic;
  color: #c7c7c7;
  border: unset;
  padding: unset;
}
.donate__box-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}
.donate__btn {
  max-width: 400px;
  height: 77px;
}

.support {
  position: relative;
  padding: 100px 0 115px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/support/support-bg.png);
}
.support__wrapper {
  display: flex;
  flex-direction: column;
}
.support__wrap {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.support__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  position: relative;
  z-index: 2;
}
.support__title {
  margin-left: 60px;
  margin-bottom: 30px;
}
.support__box-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0px 4px 26px rgba(187, 115, 7, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  margin-left: 30px;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  max-width: 535px;
}
.support__text {
  max-width: 460px;
}
.support__box-img {
  position: absolute;
  top: 2%;
  right: 0;
  z-index: 1;
}
.support__form .form__btn {
  width: 186px;
  height: 60px;
}
.header {
  margin: 120px 0 50px;
}
.header__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.header__box-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header__button {
  width: 120px;
}
.header__button--wide {
  width: 210px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.nav__link {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
}

.contacts {
  position: relative;
  border-radius: 30px;
  z-index: 2;
  margin-left: 60px;
  max-width: 1040px;
  padding: 25px 0 18px 32px;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0px 4px 26px rgba(187, 115, 7, 0.25);
  backdrop-filter: blur(100px);
}
.contacts__wrapper {
  display: flex;
  gap: 15px;
}
.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 650px;
}
.contacts__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffeed8;
  max-width: 600px;
}
.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 300px;
  height: 55px;
  background-color: #ffca96;
  border-radius: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.19em;
  position: relative;
  z-index: 3;
  color: #fffaf4;
}
.contacts__button:hover {
  background-color: #ffbb77;
}
.contacts__box-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper {
  margin-left: 100px;
}
.swiper__item {
  width: 447px;
  height: 448px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0px 4px 26px rgba(187, 115, 7, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 52px;
  padding: 30px 25px;
  position: relative;
}
.swiper__item::before {
  content: "";
  display: block;
  width: 184px;
  height: 184px;
  background: #fffefb;
  opacity: 0.8;
  filter: blur(188px);
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 1;
}
.swiper__item::after {
  content: "";
  display: block;
  width: 184px;
  height: 184px;
  background: #fffefb;
  opacity: 0.8;
  filter: blur(188px);
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: 1;
}
.swiper__box-img {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0px 4px 26px rgba(187, 115, 7, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 52px;
  margin-bottom: 28px;
}
.swiper__box {
  padding-left: 10px;
}
.swiper__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  margin-bottom: 14px;
}
.swiper__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffeed8;
}
.swiper__span {
  text-decoration: underline;
  font-weight: 700;
}
