.about {
  padding: 110px 0 100px;
  // .about__wrapper
  &__wrapper {
    @include flex();
    margin-inline: 42px;
    &--bg {
      @include background(url(@img/about/about-img.png));
    }
  }
  // .about__content
  &__content {
    @include flex($flex-direction: column);
    gap: 15px;
    padding-top: 60px;
    padding-left: 74px;
    padding-bottom: 48px;
    max-width: 560px;
  }
  // .about__title
  &__title {
    font-weight: 500;
    font-size: 47.7728px;
    line-height: 58px;

    color: #ffffff;
	
  }
  // .about__text
  &__text {
    font-family: "Barlow";

    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
  }
  // .about__box-img
  &__box-img {
  }
  // .about__img
  &__img {
  }
}
