.donate {
  position: relative;
  padding-bottom: 80px;
  // .donate__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .donate__box-img
  &__box-img {
    @include pos(absolute, $top: 0, $left: 0);
    z-index: -1;
  }
  // .donate__img
  &__img {
  }
  // .donate__content
  &__content {
    @include flex($flex-direction: column);
    align-self: flex-end;
    max-width: 42%;
    padding-top: 102px;
    margin-right: 70px;
  }
  // .donate__title
  &__title {
    font-weight: 500;
    font-size: 47px;
    line-height: 58px;

    color: #515151;
    margin-bottom: 20px;
  }
  // .donate__text
  &__text {
    font-family: "Barlow";

    font-size: 18px;
    line-height: 22px;

    color: #8f8f8f;

    border: 1px solid #8f8f8f;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 12px;
    &--italic {
      font-style: italic;

      color: #c7c7c7;
      border: unset;
      padding: unset;
    }
  }
  // .donate__box-btns
  &__box-btns {
    @include flex($flex-direction: column);
    gap: 20px;
    margin-top: 15px;
  }
  // .donate__btn
  &__btn {
    max-width: 400px;
    height: 77px;
  }
}
