.done {
  position: relative;
  padding-bottom: 86px;
  // .done__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .done__title
  &__title {
    font-weight: 500;
    font-size: 47px;
    line-height: 58px;

    color: #515151;

    padding-left: 60px;
    margin-bottom: 40px;
  }
  // .done__wrap
  &__wrap {
  }
  // .done__box-img
  &__box-img {
    @include pos(absolute, $top: -1%, $left: 5%);
  }
  // .done__img
  &__img {
  }
  // .done__content
  &__content {
    @include flex($align-items: flex-end, $flex-direction: column);
  }
  // .done__list
  &__list {
    @include flex($flex-direction: column);
    gap: 14px;
   margin-right: 54px;
   margin-bottom: 26px;
  }
  // .done__item
  &__item {
  }
  // .done__text
  &__text {
    display: inline-block;
    font-family: "Barlow";

    font-size: 18px;
    line-height: 22px;

    color: #8f8f8f;
    
    padding: 5px 11px;
    border: 1px solid #8f8f8f;
    border-radius: 15px;
  }
  // .done__link
  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 121%;

    text-align: center;
    letter-spacing: 0.065em;
    text-decoration: underline !important;

    background: linear-gradient(90deg, #fbc046 0%, #faba4c 100%), #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

	margin-right: 246px;
  }
}
