.main {
  position: relative;
  padding: 115px 0;
  // .main__wrapper
  &__wrapper {
    @include flex(flex-end);
  }
  // .main__box-img
  &__box-img {
    @include pos (absolute, $top: -45%, $left: 0);
    
   
  }
  // .main__img
  &__img {
    
  }
  // .main__wrap
  &__wrap {
    @include flex($align-items: center, $flex-direction: column);
    gap: 30px;
    margin-right: 20px;

  }
  // .main__content
  &__content {
    @include flex($flex-direction: column);
  }
  // .main__title
  &__title {
    font-size: 47.7728px;
    line-height: 58px;

    color: #515151;
    text-align: center;
  }
  // .main__subtitle
  &__subtitle {
    font-weight: 900;
    font-size: 43.0058px;
    line-height: 52px;
    text-align: center;

    background: linear-gradient(90deg, #fbd72b 0%, #ed6210 100%),
      linear-gradient(90.22deg, #f6c754 -0.85%, #e2a052 44.81%, #d17231 95.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

    margin-bottom: 20px;
  }
  // .main__text
  &__text {
    font-family: "Barlow";

    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #8f8f8f;
  }
  // .main__btn
  &__btn {
    width: 186px;
  }
}
