.contacts {
  position: relative;
  border-radius: 30px;
 
  z-index: 2;

  margin-left: 60px;
  max-width: 1040px;
  padding: 25px 0 18px 32px;
  background: rgba(255, 255, 255, 0.19);
box-shadow: 0px 4px 26px rgba(187, 115, 7, 0.25);
backdrop-filter: blur(100px);

  // .contacts__wrapper
  &__wrapper {
    @include flex();
    gap: 15px;
  }
  // .contacts__content
  &__content {
    @include flex($flex-direction: column);
    gap: 12px;
    max-width: 650px;
  }
  // .contacts__subtitle
  &__subtitle {
  }
  // .contacts__text
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #ffeed8;

    max-width: 600px;
  }
  // .contacts__button
  &__button {
    @include flex(center, center);
    align-self: center;
    @include wh(300px, 55px);

    background-color: #ffca96;
    border-radius: 23px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.19em;

    position: relative;
    z-index: 3;

    color: #fffaf4;
    &:hover {
      background-color: darken(#ffca96, 6%);
    }
  }

  // .contacts__box-img
  &__box-img {
    @include pos(absolute, $top: 0, $right: 0);
    z-index: 1;
  }
  // .contacts__img
  &__img {
  }
}
